#header {
    height: 50px;
  }
  #sidebar {
    background-color: #ccc;
    height: 500px;
  }
  #content {
    background-color: #eee;
    height: 100%;
  }
  #footer {
    height: 300px;
    background-color: #3f3f3f;
    color: #ccc;
  }
